---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type
WarningsAsErrors: 'bugprone-*,clang-analyzer-*,concurrency-*'
HeaderFilterRegex: 'native/(shared|arc[^/]+)/(include|src)/.*'
FormatStyle: file
CheckOptions:
  readability-identifier-length.MinimumVariableNameLength: '2'
  cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues: '0;1;2;3'
...
